<h1>Log In</h1>
<br>
<br>
<div class="row h-100">
  <div class="col-sm-12">
    <form [formGroup]="loginform" (ngSubmit)="onLogin(loginform.value)">

      <div class="form-group">
        <br>
        <label for="emailInput">Email</label>
        <input type="email" formControlName="email" id="emailInput" class="form-control" placeholder="Enter email">
      </div>

      <div class="form-group">
        <label for="passwordInput">Password</label>
        <input type="password" formControlName="password" id="passowrdInput" class="form-control" placeholder="Enter passowrd">
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Log In</button>
      </div>
      <div *ngIf="errormessage" class="alert alert-danger">{{errormessage.error.message}}</div>
    </form>

  </div>
</div>