<div class="container">
  <small class="small">( Click movie to get details)</small>
  <div class="year" *ngIf="year=='2019'">


    <ol class="rounded-list">
      <li class="nav-item" (click)="onSelect(movie)" *ngFor="let movie of movies|slice:110:120">

        <a [routerLink]="['/movieyear/2019/', movie.film|slugify ,movie._id]" class="nav-link ">{{movie.film}}</a>
      </li>
    </ol>

  </div>

  <div class="year" *ngIf="year=='2018'">


    <ol class="rounded-list">
      <li class="nav-item" (click)="onSelect(movie)" *ngFor="let movie of movies|slice:0:10">

        <a [routerLink]="['/movieyear/2018/', movie.film|slugify ,movie._id]" class="nav-link ">{{movie.film}}</a>
      </li>
    </ol>

  </div>
  <div *ngIf="year=='2017'">

    <ol class="rounded-list">
      <li class="nav-item" (click)="onSelect(movie)" *ngFor="let movie of movies|slice:10:20">

        <a [routerLink]="['/movieyear/2017/', movie.film|slugify ,movie._id]" class="nav-link ">{{movie.film}}</a>
      </li>
    </ol>

  </div>
  <div *ngIf="year=='2016'">

    <ol class="rounded-list">
      <li class="nav-item" (click)="onSelect(movie)" *ngFor="let movie of movies|slice:20:30">

        <a [routerLink]="['/movieyear/2016/', movie.film|slugify ,movie._id]" class="nav-link ">{{movie.film}}</a>
      </li>
    </ol>

  </div>
  <div *ngIf="year=='2015'">

    <ol class="rounded-list">
      <li class="nav-item" (click)="onSelect(movie)" *ngFor="let movie of movies|slice:30:40">

        <a [routerLink]="['/movieyear/2015/', movie.film|slugify ,movie._id]" class="nav-link ">{{movie.film}}</a>
      </li>
    </ol>

  </div>
  <div *ngIf="year=='2014'">

    <ol class="rounded-list">
      <li class="nav-item" (click)="onSelect(movie)" *ngFor="let movie of movies|slice:40:50">

        <a [routerLink]="['/movieyear/2014/', movie.film|slugify ,movie._id]" class="nav-link ">{{movie.film}}</a>
      </li>
    </ol>

  </div>
  <div *ngIf="year=='2013'">

    <ol class="rounded-list">
      <li class="nav-item" (click)="onSelect(movie)" *ngFor="let movie of movies|slice:50:60">

        <a [routerLink]="['/movieyear/2013/', movie.film|slugify ,movie._id]" class="nav-link ">{{movie.film}}</a>
      </li>
    </ol>

  </div>
  <div *ngIf="year=='2012'">

    <ol class="rounded-list">
      <li class="nav-item" (click)="onSelect(movie)" *ngFor="let movie of movies|slice:60:70">

        <a [routerLink]="['/movieyear/2012/', movie.film|slugify ,movie._id]" class="nav-link ">{{movie.film}}</a>
      </li>
    </ol>

  </div>
  <div *ngIf="year=='2011'">

    <ol class="rounded-list">
      <li class="nav-item" (click)="onSelect(movie)" *ngFor="let movie of movies|slice:70:80">

        <a [routerLink]="['/movieyear/2011/', movie.film|slugify ,movie._id]" class="nav-link ">{{movie.film}}</a>
      </li>
    </ol>

  </div>
  <div *ngIf="year=='2010'">

    <ol class="rounded-list">
      <li class="nav-item" (click)="onSelect(movie)" *ngFor="let movie of movies|slice:80:90">

        <a [routerLink]="['/movieyear/2010/', movie.film|slugify ,movie._id]" class="nav-link ">{{movie.film}}</a>
      </li>
    </ol>

  </div>
  <div *ngIf="year=='2009'">

    <ol class="rounded-list">
      <li class="nav-item" (click)="onSelect(movie)" *ngFor="let movie of movies|slice:90:100">

        <a [routerLink]="['/movieyear/2009/', movie.film|slugify ,movie._id]" class="nav-link ">{{movie.film}}</a>
      </li>
    </ol>

  </div>
  <div *ngIf="year=='2008'">

    <ol class="rounded-list">
      <li class="nav-item" (click)="onSelect(movie)" *ngFor="let movie of movies|slice:100:110">

        <a [routerLink]="['/movieyear/2008/', movie.film|slugify ,movie._id]" class="nav-link ">{{movie.film}}</a>
      </li>
    </ol>

  </div>

</div>